{% extends "base.html" %}

{% block headcontent %}
{% if managerLoggedIn %}
{{ super() }}
{% else %}
{{ super()|replace("static/", "../static/") }}
{% endif %}
<title>Edit your Gym</title>
<script>
{% if sendGym %}
sendGym = true;
{% else %}
sendGym = false;
{% endif %}
</script>
{% endblock headcontent %}

{% block navcontent %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
  </ul>
</div>
{% endblock navcontent %}

{% block bodycontent %}
<div class="container">
  <div class="row">
<h2>Amenities:</h2>
<input type="hidden" id="gymId" value="{{gymId}}">
<form>
{% set count = 1 %}
<div class="form-group">
  <div id="equipment">
    <datalist id="equipments">
      {% for equipmentType in equipmentList %}
      <option value="{{equipmentType}}">
	{% endfor %}
    </datalist>
    {% for key in equipment %}
    <div class="input-group equipment" id="equipment{{count}}">
      <div class="input-group-addon">Equipment</div>
      <input list="equipments" name="equipmentName{{count}}" class="form-control" value="{{key}}">
      <div class="input-group-addon">Amount</div>
      <input name="equipmentAmount{{count}}" class="form-control" type="number" value="{{equipment[key]}}">
      <div onclick="removeRow(this.parentElement.id, 'equipment')" class="input-group-addon btn-default" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
    </div>
    {% set count = count + 1 %}
    {% endfor %}
  </div>
  <button onclick="addEquipment()" type="button" class="btn btn-default">+Add another piece of equipment</button>
</div>
<button class="btn" type="button" onclick="updateInfo('Equipment', sendGym);">Update</button>
</form>
<br>
<form class="form-inline">
  <div class="form-group">
    Prices:
    <div id="prices">
    {% set count = 1 %}
    {% for price in gymPrices %}
      <div class="input-group price" id="price{{count}}">
	<div class="input-group-addon">$</div><input class="form-control" name="priceValue{{count}}" type="number" value={{price[0]}}>
	<div class="input-group-addon">per</div>
	<select name="priceUnit{{count}}" class="form-control {{price[1]}}">
	  <option>month</option>
	  <option>class</option>
	</select>
	<div class="input-group-addon">for</div>
	<input class="form-control" name="priceTarget{{count}}" placeholder="ie, students, seniors, group, etc." value="{{price[2]}}">
	<div onclick="removeRow(this.parentElement.id, 'price')" class="input-group-addon btn-default" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
      </div>
      <script>
	$(".{{price[1]}}").val("{{price[1]}}")
      </script>
    {% set count = count + 1 %}
    {% endfor %}
    </div>
    <button onclick="addPrice()" type="button" class="btn btn-default">+Add another pricing</button>
  </div>
  <!--<div class="input-group">
      <div class="input-group-addon">$</div><input class="form-control" id="Price" type="number" value={{priceNum}}>
      </div>
      per 
      <select class="form-control {{priceUnit}}">
	<option>month</option>
	<option>year</option>
	<option>class</option>
      </select>-->
  <br>
  <button type="button" class="btn" onclick="updateInfo('Price', sendGym)">Update</button><br>
</form>
<br>
Hours:
<form id="hours">
<div class="form-group">
  <div id="time">
    {% set count = 1 %}
    {% for key in hours %}
    {% for time in hours[key] %}
    {% if key=="Weekends" or key=="Weekdays" or key=="Everyday" %}
    <div id="expand{{key}}button" onclick="expand('{{key}}', this);" class="form-control btn" role="button">Expand days</div>
    <div class="input-group time" id="expand{{key}}">
    {% set removeExpand = "removeExpand('expand"+key+"button')" %}
    {% else %}
    <div class="input-group time" id="time{{count}}">
    {% set removeExpand = "" %}
    {% endif %}
      <div class="input-group-addon">From </div>
      <input type="time" name="from0" class="form-control hours-info-from" value={{time[0]}}>
      <div class="input-group-addon"> to </div>
      <input type="time" name="to0" class="form-control hours-info-to" value={{time[1]}}>
      <div class="input-group-addon">on</div>
      <select class="form-control {{key}} hours-info-day" name="day0">
	<option>Monday</option>
	<option>Tuesday</option>
	<option>Wednesday</option>
	<option>Thursday</option>
	<option>Friday</option>
	<option>Saturday</option>
	<option>Sunday</option>
      </select>
      <div class="input-group-addon">for</div>
      <input type="section" class="form-control" value="{{time[2]}}">
      <div onclick="removeRow(this.parentElement.id, 'time');{{removeExpand}}" class="input-group-addon btn-default" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
    </div>
    <script>
      $(".{{key}}").val("{{key}}");
    </script>
    {% endfor %}
    {% set count = count + 1 %}
    {% endfor %}
  </div>
  <button onclick="addTime()" type="button" class="btn btn-default">+Add another time range</button>
</div>
</form>
<button type="button" class="btn" onclick="updateInfo('Hours', sendGym)">Update</button><br>
<!--TODO FIGURE OUT WHAT TO DO ABOUT QUOTES-->
<!--Requirements: <textarea class="form-control" id="Requirements">{{requirements|replace('"', '')|replace('&#34;', '"')}}</textarea>
<button class="btn" onclick="updateInfo('Requirements', sendGym)">Update</button><br>-->
<br>
Notable Things (up to 5):
<div class="form-group">
  <div id="fax">
    <input class="form-control notable" value="{{notableThings[0]}}">
    <input class="form-control notable" value="{{notableThings[1]}}">
    <input class="form-control notable" value="{{notableThings[2]}}">
    <input class="form-control notable" value="{{notableThings[3]}}">
    <input class="form-control notable" value="{{notableThings[4]}}">
    <!--<textarea class="form-control" id="Misc">{{misc|replace('"', '')|replace('&#34;', '"')}}</textarea>-->
    Other Misc/Extras:
    {% set count = 1 %}
    {% for miscThing in miscInfo %}
    <div class="input-group detail" id="detail{{count}}">
      <input class="form-control" value="{{miscThing}}">
      <div onclick="removeRow(this.parentElement.id, 'detail');" class="input-group-addon btn-default" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
    </div>
    {% set count = count + 1 %}
    {% endfor %}
  </div>
</div>
<button onclick="addDetail()" type="button" class="btn btn-default">+Add another detail</button>
<br>
<button class="btn" type="button" onclick="updateInfo('Misc', sendGym)">Update</button><br>
<br>
<form action="/uploadImages" method="POST" enctype="multipart/form-data">
  Images/Videos:<br>
  {% for gymImg in gymImgs %}
  <div id="{{gymImg|replace('.', '')}}">
    <img src="../static/{{gymId}}/{{gymImg}}"><br>
    <button type="button" class="btn btn-default">Resize</button>
    <button type="button" class="btn btn-default" onclick="removeImage('{{gymImg}}');">Remove</button>
    <br>
    <br>
  </div>
  {% endfor %}
  <div id="inputImgs">
    <input type="file" class="inputImg" name="pic1" accept="image/*">
  </div>
  <input type="hidden" name="gymId" value="{{gymId}}">
  <button type="button" onclick="addImage()" class="btn btn-sm">Add another file</button>
  <br>
  <button class="btn">Upload</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/scripts/edit_gym.js"></script>
{% endblock bodycontent %}
