{% extends "base.html" %}
{% block bodycontent %}
<table>
  <tr>
    <td>
      <div id="map-canvas" style="width:500px; height:500px;"></div>
    </td>
    <td>
      Select one of your gyms to update information
      <br>
      You can start by searching for your gym: <input id="search" type="text" placeholder="{{gymName}}" value="{{gymName}}"><button onclick="search()">Search</button>
      <br>
      If you don't see it, you can <button onclick="addMarker()">Add a Marker Yourself</button>
      <br>
      <button onclick="viewYourGyms()">View Your Gyms</button>
      <div id="editamenities"></div>
    </td>
  </tr>
</table>
<script>
gymName="{{gymName}}";
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/scripts/edit_gyms.js"></script>
{% endblock bodycontent %}
