{% extends "base.html" %}
{% block headcontent %}
{{ super()|replace("static/", "../static/") }}
<title>{{name}}</title>
<script src="../static/scripts/gym_page.js"></script>
{% endblock headcontent %}
{% block navcontent %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    {% if adminLoggedIn %}
    {% include "nav_links/admin_select_gym_link.html" %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
    {% elif managerLoggedIn %}
    {% include "nav_links/edit_gym_link.html" %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
    {% elif goerLoggedIn %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
    {% else %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/login_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% endif %}
  </ul>
</div>
{% endblock navcontent %}
{% block bodycontent %}
<div class="container">
  <div class="row">
    <div class="col-xs-9">
    <h1>{{name}}</h1>
    Last updated {{gym[lastUpdateCol]}}<br>
    {% if goerLoggedIn or adminLoggedIn %}
    <a href="/editgym/{{gymId}}">Please click here if this information is incorrect</a>
    {% endif %}
    {% if userUpdates %}
    <br><a onclick="$('#userGymUpdatesContainer').toggle();">Click here to see descrepencies users found with the data</a>
    {{userUpdates|safe}}
    {% endif %}
    {% for image in gymImgs %}
    <img src="../static/{{gymId}}/{{image}}">
    {% endfor %}
    <br>
    Price: {{price}}<br>
    Requirements: {{requirements}}<br>
    Miscellaneous: {{misc}}<br>
    <u>Hours:</u> {{hours|safe}}<br>
    <u>Equipment:</u><br>
    {% for i in range(equipmentNames|length) %}
    {{gym[i+equipmentStartCol]}} {{equipmentNames[i]}}<br>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock bodycontent %}
