{% extends "base.html" %}
{% block headcontent %}
{{ super()|replace("static/", "../static/") }}
<title>{{name}}</title>
<script src="../static/scripts/gym_page.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
{% endblock headcontent %}
{% block navcontent %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    {% if adminLoggedIn %}
    {% include "nav_links/admin_select_gym_link.html" %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
    {% elif managerLoggedIn %}
    {% include "nav_links/edit_gym_link.html" %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
    {% elif goerLoggedIn %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
    {% else %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/login_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% endif %}
  </ul>
</div>
{% endblock navcontent %}
{% block bodycontent %}
<div class="container">
  <div class="row">
    <div class="col-xs-9">
    <h1>{{name}}</h1>
    Last updated {{gym[lastUpdateCol]}}<br>
    {% if goerLoggedIn or adminLoggedIn %}
    <a href="/editgym/{{gymId}}">Please click here if this information is incorrect</a>
    {% endif %}
    <!--{% if userUpdates %}
    <br><a style="cursor:pointer;" onclick="$('#userGymUpdatesContainer').toggle();">Click here to see descrepencies users found with the data</a>
    {{userUpdates|safe}}
    {% endif %}-->
    {% for image in gymImgs %}
    <img src="../static/{{gymId}}/{{image}}" width="300px">
    {% endfor %}
    <br>
    <strong>Prices</strong>:<br>
    {% for gymPrice in gymPrices %}
    {% if gymPrice[2] == 'default' %}
    {{gymPrice[0]}} per {{gymPrice[1]}}<br>
    {% else %}
    {{gymPrice[0]}} per {{gymPrice[1]}} for {{gymPrice[2]}}<br>
    {% endif %}
    {% endfor %}
    {% if userPrices %}
    {% for user in userPrices %}
    <u>{{user}}</u>:<br>
    {% for pricing in userPrices[user] %}
    {{pricing}}<br>
    {% endfor %}
    {% endfor %}
    {% endif %}
    <br>
    <u>Miscellaneous</u>: {{misc}}<br>
    <br>
    <u>Hours</u>: <br>
    {% for hour in hours %}
    {{hour}}: 
    {% for h in hours[hour] %}
    From {{h[0]}} to {{h[1]}}<br>
    {% endfor %}
    {% endfor %}
    {% if userHours %}
    {% for user in userHours %}
    <u>{{user}}</u>:<br>
    {% for hour in userHours[hour] %}
    {{hour}}
    {% endfor %}
    {% endfor %}
    {% endif %}
    <br>
    <u>Equipment</u>:<br>
    {% for i in equipment %}
    {{equipment[i]}} {{i}}<br>
    {% endfor %}
    {% if userEquipment %}
    {% for user in userEquipment %}
    <u>{{user}}</u>:<br>
    {% for equipment in userEquipment[user] %}
    {{equipment}}<br>
    {% endfor %}
    {% endfor %}
    {% endif %}
    <br>
    {% if userComments %}
    <strong>Comments</strong>:<br>
    {% for user in userComments %}
    <u>{{user}}</u>:
    {% for comment in userComments %}
    {{comment}}<br>
    {% endfor %}
    {% endfor %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock bodycontent %}
<!--From {hours[hour][h][0]} to {hours[hour][h][1]}<br>-->
