{% extends "base.html" %}
{% block headcontent %}
<title>Pingyms</title>
{% endblock headcontent %}
{% block navcontent %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="/gymadminlogin">Login for Gym Owners</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</div>
{% endblock navcontent %}

{% block bodycontent %}
<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	<div class="intro-message">
	  <h1>Pingyms</h1>
	  <h3>Pinpoint Your Gym</h3>
	  <hr class="intro-divider">
	  <ul class="list-inline intro-social-buttons">
	    <li>
	      <a href="/browsegyms" class="btn btn-default btn-lg">Browse Gyms</a>
	    </li>
	    <br>
	    <br>
	    <li>
	      <a href="https://twitter.com/Pingyms" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
	    </li>
	    <li>
	      <a href="https://www.facebook.com/pingyms" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
	    </li>
	    <li>
	      <a class="btn btn-default btn-sm"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
	    </li>
	    <li>
	      <a class="btn btn-default btn-sm"><i class="fa fa-pinterest fa-fw"></i> <span class="network-name">Pinterest</span></a>
	    </li>
	  </ul>
	</div>
      </div>
    </div>
  </div>
</div>
<!--
<a name="services"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
	<hr class="section-heading-spacer">
	<div class="clearfix"></div>
	<h2 class="section-heading">Finally, an easy way to see what's in your gyms:</h2>
	<p class="lead">Easily view amenities for gyms in your area</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	<img class="img-responsive" src="" alt="">
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Let Your Costumers Know About<br>All the Cool Stuff You Have</h2>
        <p class="lead">Contact us if you want to add your gym to our site, then click <a target="_blank" href="/gymadminlogin">here</a> to use the site!</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="" alt="">
      </div>
    </div>
    
  </div>
</div>

<a  name="contact"></a>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Connect with Pingyms:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/Pingyms" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/abrarahmed56/Pingyms" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->
<br>
{% endblock bodycontent %}
