{% extends "base.html" %}
{% block headcontent %}
{{super()|replace("static/", "../static/")}}
<title>{{name}}</title>
{% endblock headcontent %}
{% block navcontent %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    {% if managerLoggedIn %}
    {% include "nav_links/edit_gym_link.html" %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
    {% elif goerLoggedIn %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
    {% else %}
    {% include "nav_links/login_link.html" %}
    {% include "nav_links/browsegyms_link.html" %}
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% endif %}
  </ul>
</div>
{% endblock navcontent %}
{% block bodycontent %}
<h1>{{name}}</h1>
<br>
<a href="/editgym/{{id}}">There is no information available yet for this gym. Would you like to provide some?</a>
{% endblock bodycontent %}
