{% extends "base.html" %}
{% block headcontent %}
{{ super() }}
<title>Verify Your Gym</title>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock headcontent %}

{% block navcontent %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    {% include "nav_links/about_link.html" %}
    {% include "nav_links/contact_link.html" %}
    {% include "nav_links/logout_link.html" %}
  </ul>
</div>
{% endblock navcontent %}

{% block bodycontent %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      Please select your gym and enter its information<br>
      <form onsubmit="searchGyms(); return false;">
      Search for your gym<span style="color:red">*</span>: <input id="search" type="text"><button class="btn">Search</button>
      </form>
      <form name="gymInformation" action="/addgym" onsubmit="return checkSubmissions();" method="POST">
      <div id="map" style="width:300px; height:300px;"></div>
      <br>
      <h2>Amenities:</h2>
      <!--<form class="form-inline">-->
      <!--<form id="equipment">-->
      <!--{{equipment|safe}}-->
      <!--</form>-->
      <!--<div class="input-group-addon">Equipment</div><div class="input-group-addon">Amount</div>-->
      <div class="form-group">
	<div id="equipment">
	  <div class="input-group equipment" id="equipment1">
	    <div class="input-group-addon">Equipment</div>
	    <input name="equipmentName1" class="form-control">
	    <div class="input-group-addon">Amount</div>
	    <input name="equipmentAmount1" class="form-control" type="number">
	    <div onclick="removeRow(this.parentElement.id, 'equipment')" class="input-group-addon btn-default" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
	  </div>
	</div>
	<button onclick="addEquipment()" type="button" class="btn btn-default">+Add another piece of equipment</button>
      </div>
	<div class="form-group">
	  Prices<span style="color:red">*</span>:
	  <div id="prices">
	    <div class="input-group price" id="price1">
	      <div class="input-group-addon">$</div><input class="form-control" name="priceValue1" type="number" value={{price}}>
	      <div class="input-group-addon">per</div>
	      <select name="priceUnit1" class="form-control">
		<option>month</option>
		<option>year</option>
		<option>day</option>
		<option>class</option>
	      </select>
	      <div class="input-group-addon">for</div><input class="form-control" name="priceTarget1" placeholder="ie, students, seniors, group, etc.">
	      <div onclick="removeRow(this.parentElement.id, 'price')" class="input-group-addon btn-default" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
	    </div>
	  </div>
	  <button onclick="addPrice()" type="button" class="btn btn-default">+Add another pricing</button>
	</div>
      <!--</form>-->
      Type<span style="color:red">*</span>:
      <div class="radio">
	<label>
	  <input type="radio" name="gymType" class="typeradio" value="rec">Recreational Fitness<br>
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="gymType" class="typeradio" value="yoga">Yoga/Pilates<br>
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="gymType" class="typeradio" value="martial">Martial Arts<br>
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="gymType" class="typeradio" value="xfit">Crossfit<br>
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="gymType" class="typeradio" value="rock">Rock Climbing<br>
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="gymType" class="typeradio" value="dance">Dance<br>
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="gymType" class="typeradio" value="nutrition">Nutrition/Weight Loss<br>
	</label>
      </div>
      
      Hours<span style="color:red">*</span>:
      <div class="form-group">
	<div id="time">
	  <div class="input-group time" id="time1">
	    <div class="input-group-addon">From </div>
	    <input type="time" name="from1" class="form-control">
	    <div class="input-group-addon"> to </div>
	    <input type="time" name="to1" class="form-control">
	    <div class="input-group-addon">on</div>
	    <select class="form-control" name="day1">
	      <option>Everyday</option>
	      <option>Weekdays</option>
	      <option>Weekends</option>
	      <option>Monday</option>
	      <option>Tuesday</option>
	      <option>Wednesday</option>
	      <option>Thursday</option>
	      <option>Friday</option>
	      <option>Saturday</option>
	      <option>Sunday</option>
	    </select>
	    <div onclick="convertToInputHoursSpecific(this, this.parentNode, 1)" class="input-group-addon">Click here if these hours are for a specific part of the gym<div></div></div>
	    <div onclick="removeRow(this.parentElement.id, 'time')" class="input-group-addon btn-default" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
	  </div>
	</div>
	<button onclick="addTime()" type="button" class="btn btn-default">+Add another time range</button>
	<br>
      </div>
      <!--TODO FIGURE OUT WHAT TO DO ABOUT QUOTES-->
      Misc/Extras:<textarea class="form-control" name="misc">{{misc|replace('"', '')|replace('&#34;', '"')}}</textarea>
      <br>
      Images/Videos:<br>
      <button class="btn">Upload</button>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="/static/scripts/edit_gym.js"></script>
      <!--<input name="gymId" id="gymId" type="hidden">-->
      <br>
      <br>
      <button class="btn btn-default btn-lg" type="submit">Verify Your Gym</button>
      </form>
    </div>
  </div>
</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
var takenGyms = {{takenGyms|tojson|safe}};
</script>
<script src="/static/scripts/select_gym.js"></script>
{% endblock bodycontent %}
